.custom-fraction {
    position: absolute;
    bottom: 16px;
    left: 20px;
    width: auto;
    background: black;
    padding: 3px 8px;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
}
.swiper-pagination-current, .swiper-pagination-total {
    color: #FFFFFF;
}
